---
import RootLayout from "@layouts/RootLayout.astro";
---

<RootLayout title="MangaDex">
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
	<div class="h-64 max-w-full bg-warmGray mx-1 mt-2"></div>
</RootLayout>
