---
export interface Props {
	raw: string;
	class: string;
	type: "circular" | "squircle";
}

const { raw, type: type_ = "circular", class: class_ = "" } = Astro.props;
---

<button class:list={["btn", class_, type_]}>
	<Fragment set:html={raw} />
</button>

<style>
	button.circular {
		--uno-apply: btn-circular;
	}

	button.squircle {
		--uno-apply: btn-squircle;
	}
</style>
