:root {
	--md-primary-lighten2: #ffe1d9;
	--md-primary-lighten: #ffbead;
	--md-primary: #ff6740;
	--md-primary-darken: #e6613e;
	--md-primary-darken2: #bc553b;
	--md-primary-translucent: #ff674044;
	--md-primary-translucent-less: #ff674088;
	--md-status-red: #ff4040;
	--md-status-green: #04d000;
	--md-status-yellow: #da7500;
	--md-status-blue: #00c9f5;
	--md-status-grey: #c4c4c4;
	--md-status-purple: #7d40ff;
	--md-user-green: #1abc9c;
	--md-user-blue: #3498db;
	--md-user-red: #e74c3c;
	--md-user-yellow: #f39c12;
	--md-danger: #ff4040;
	--md-danger-shade: #e63939;
	--md-danger-bright: #ffd9d9;
	--md-danger-lessBright: #ffadad;
	--md-danger-dark: #bd2f2f;
	--md-danger-translucent: #ff404022;
	--md-danger-translucent2: #ff404088;
	--md-accent2: #272b30;
	--md-accent3: #4b98f1;
	color-scheme: light dark;
}

.slate {
	--md-background: #121318;
	--md-background-translucent: rgba(18, 19, 24, 0.6);
	--md-background-translucent2: rgba(25, 26, 28, 0.8);
	--md-background-transparent: rgba(18, 19, 24, 0);
	--md-secondary: #a3a4bc;
	--md-accent-lighten2: #3d414a;
	--md-accent-lighten: #2e2f37;
	--md-accent: #212328;
	--md-accent-darken: #1a1b1f;
	--md-accent-darken2: #070709;
	--md-accent-idle: var(--md-accent-lighten2);
	--md-accent-hover: var(--md-accent-lighten);
	--md-accent-active: var(--md-accent);
	--md-accent-hover-alt: var(--md-accent-lighten);
	--md-accent-active-alt: var(--md-accent-lighten2);
	--md-icon-white: #fff;
	--md-icon-black: #4d4d4d;
	--md-icon-contrast: var(--md-icon-white);
	--md-shade-bright: #f0f1f2;
	--md-shade-lessBright: #e6e6e6;
	--md-shade-lessBright2: #c9cbcb;
	--md-shade-mid: #b4b9be;
	--md-shade-mid-translucent: #b4b9be55;
	--md-shade-mid-translucent-less: #b4b9be88;
	--md-shade-dark: #2c2c2c;
	--md-shade-lessDark: #494949;
	--md-shade-midDarker: #8b8e91;
	--md-scrollbar-thumb: var(--md-accent-lighten);
	--md-scrollbar-thumb-hover: var(--md-accent-lighten2);
	--md-text-default: #deefef;
	color-scheme: dark;
}

.dark_ {
	--md-background: #191a1c;
	--md-background-translucent: rgba(25, 26, 28, 0.6);
	--md-background-translucent2: rgba(25, 26, 28, 0.8);
	--md-background-transparent: rgba(25, 26, 28, 0);
	--md-secondary: #aeaeae;
	--md-accent-lighten2: #4f4f4f;
	--md-accent-lighten: #3d3d3d;
	--md-accent: #2c2c2c;
	--md-accent-darken: #202020;
	--md-accent-darken2: #1d1d1d;
	--md-accent-idle: var(--md-accent-lighten2);
	--md-accent-hover: var(--md-accent-lighten);
	--md-accent-active: var(--md-accent);
	--md-accent-hover-alt: var(--md-accent-lighten);
	--md-accent-active-alt: var(--md-accent-lighten2);
	--md-icon-white: #fff;
	--md-icon-black: #4d4d4d;
	--md-icon-contrast: var(--md-icon-white);
	--md-shade-bright: #f0f1f2;
	--md-shade-lessBright: #e6e6e6;
	--md-shade-lessBright2: #c9cbcb;
	--md-shade-mid: #b4b9be;
	--md-shade-mid-translucent: #b4b9be55;
	--md-shade-mid-translucent-less: #b4b9be88;
	--md-shade-dark: #2c2c2c;
	--md-shade-lessDark: #494949;
	--md-shade-midDarker: #8b8e91;
	--md-scrollbar-thumb: var(--md-accent-lighten);
	--md-scrollbar-thumb-hover: var(--md-accent-lighten2);
	--md-text-default: #fff;
	color-scheme: dark;
}

.light {
	--md-background: #fff;
	--md-background-translucent: hsla(0, 0%, 100%, 0.6);
	--md-background-translucent2: hsla(0, 0%, 100%, 0.8);
	--md-background-transparent: hsla(0, 0%, 100%, 0);
	--md-secondary: #494949;
	--md-accent-lighten2: #fafbfc;
	--md-accent-lighten: #f7f8f9;
	--md-accent: #f0f1f2;
	--md-accent-darken: #e6e6e6;
	--md-accent-darken2: #c9cbcb;
	--md-accent-idle: var(--md-accent);
	--md-accent-hover: var(--md-accent-darken);
	--md-accent-active: var(--md-accent-darken2);
	--md-accent-hover-alt: var(--md-accent-darken);
	--md-accent-active-alt: var(--md-accent-darken2);
	--md-icon-black: #4d4d4d;
	--md-icon-white: #fff;
	--md-icon-contrast: var(--md-icon-black);
	--md-shade-bright: #f0f1f2;
	--md-shade-lessBright: #e6e6e6;
	--md-shade-lessBright2: #c9cbcb;
	--md-shade-mid: #b4b9be;
	--md-shade-mid-translucent: #b4b9be55;
	--md-shade-mid-translucent-less: #b4b9be88;
	--md-shade-dark: #2c2c2c;
	--md-shade-lessDark: #494949;
	--md-shade-midDarker: #8b8e91;
	--md-scrollbar-thumb: #c9cbcb;
	--md-scrollbar-thumb-hover: #939494;
	--md-text-default: #242424;
	color-scheme: light;
}
