---
import Desktop from "./Desktop";
import Mobile from "./Mobile";
---

<div class="contents">
	<div class="hidden md:flex mr-2">
		<Desktop client:visible />
	</div>
	<div class="md:hidden">
		<Mobile client:visible />
	</div>
</div>
