---
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";

import "../css/themes.css";

import Nav from "@components/nav/index.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta
			name="description"
			content="Read manga online for free on MangaDex with no ads, high quality images and support scanlation groups!"
		/>
		<link rel="dns-prefetch" href="https://api.mangadex.org">
	</head>
	<body>
		<Nav />
		<slot />
	</body>
</html>

<script>
	document.documentElement.classList.add("dark", "slate");
</script>

<style is:global>
	html {
		height: 100%;
		color: var(--md-text-default);
		background-color: var(--md-background);
		font-family: "Poppins", system-ui, sans-serif;
	}

	body {
		margin: 0;
		height: 100%;
		overflow-y: auto;
	}

	button, input {
		appearance: none;
		padding: 0;
		outline: none;
		border: none;
		background-color: transparent;
	}

	::-webkit-scrollbar {
		--uno-apply: sm:bg-transparent sm:w-[10px];
	}

	::-webkit-scrollbar-thumb {
		--uno-apply: sm:bg-scrollbar-thumb;
	}
</style>
