---
import IconButton from "@components/IconButton.astro";

import Avatar from "./Avatar";
import ProfileContainer from "./ProfileContainer";
import Search from "./search/index.astro";

import Logo from "@assets/branding/mangadex-logo.svg?raw";
import WordMark from "@assets/branding/mangadex-wordmark.svg?raw";
import DrawerIcon from "@assets/icons/drawer.svg?raw";
---

<script>
	const navElement = document.querySelector("nav");
	let isScrolledUnder = false;

	document.addEventListener("scroll", () => {
		const shouldScrollUnder = window.scrollY > 1;
		if (isScrolledUnder && shouldScrollUnder) return;
		navElement.classList.toggle("scrolled_under", shouldScrollUnder);
	});
</script>

<div class="fixed top-0 h-14 w-full">
	<nav class="nav">
		<IconButton raw={DrawerIcon} class="mr-2" />
		<div class="logoset">
			<Fragment set:html={Logo} />
			<Fragment set:html={WordMark} />
		</div>
		<div class="flex flex-1 items-center justify-end gap-2 text-icon-contrast">
			<Search />
			<Avatar client:load />
		</div>
	</nav>
	<ProfileContainer client:idle />
</div>

<style>
	.nav {
		--uno-apply: flex h-14 items-center px-4;
	}

	.nav.scrolled_under {
		--nav-divider-opacity: 1;
	}

	.nav::after {
		content: "";
		height: 1px;
		opacity: var(--nav-divider-opacity, 0);
		--uno-apply: w-full h-14 absolute inset-x-0 bottom-0 transition-opacity duration-300
			ease-standard bg-background border-b-1 border-b-solid border-b-primary -z-10;
	}

	.logoset {
		--uno-apply: flex items-center gap-1 text-icon-contrast;
	}
</style>
